{% extends 'website/layout.html' %}

{% load static %}

{% block content %}
<div class="faqs">
    <h1 class="text-center padding">
        FAQs
    </h1>


    <div class="container">
        <div id="accordion">
            <div class="card">
    <div class="card-header" id="HeadingAvailability">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#Availability" aria-expanded="true" aria-controls="Availability">
          What's your availability?
        </button>
      </h5>
    </div>
    <div id="Availability" class="collapse show" aria-labelledby="HeadingAvailability" data-parent="#accordion">
      <div class="card-body">
        I am available Saturday and Sundays from 8am - 3pm CT.
      </div>
    </div>
  </div>

                        <div class="card">
    <div class="card-header" id="HeadingContact">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#contact" aria-expanded="false" aria-controls="contact">
          How can I contact you?
        </button>
      </h5>
    </div>
    <div id="contact" class="collapse" aria-labelledby="HeadingContact" data-parent="#accordion">
      <div class="card-body">
        Email Address: kaylalanemorris@gmail.com
       <br/>
          Phone Number: 334-430-3232 (CHANGE THIS)
      </div>
    </div>
  </div>


            <div class="card">
    <div class="card-header" id="HeadingPayment">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Payment" aria-expanded="false" aria-controls="Payment">
          What payment types do you accept?
        </button>
      </h5>
    </div>
    <div id="Payment" class="collapse" aria-labelledby="HeadingPayment" data-parent="#accordion">
      <div class="card-body">
        I happily accept PayPal, cash, or personal checks. Please note that if your payment is sent as a "Goods and Services" payment, you are responsible for paying the protection fee.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Where are you based? How far will you travel?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        I am based in Montgomery, AL but I am absolutely willing to travel anywhere in state. I also do out-of-state visits for GA, NC, SC, TN, and FL.
          Note that fuel compensation for any travel will be factored into your final payment.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How will I receive my photos? Do you sell physical prints?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
         I don't do physical prints yet, but you will receive the digital copies via DropBox or Google Drive. Download sizes vary from 2GB - 4GB so mobile downloads are not recommended.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What happens if we want to take photos in a location that requires an entrance fee?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        The customer is responsible for paying any park or entrance fees for themselves and me.
      </div>
    </div>
  </div>
        <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          What if I'm late or need to reschedule?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        I respect my customers time and hope that you respect mine as well! Any late arrivals 15 minutes or more behind schedule will be billed a $100 inconvenience fee.
          I have other customers who depend on me to be on time, so please don't be late!
          Rescheduling is allowed due to weather only. Rescheduled appointments will be setup based on your earliest convenience and my earliest open appointment slot.
      </div>
    </div>
  </div>
</div>
    </div>
    </div>

</div>
{% endblock %}