{% load static %}

<nav class="navbar navbar-expand-lg navbar-light navbar-background border-bottom website-footer">
    <div class="container body-font">
        <a class="text-center" href="https://www.facebook.com/KaylaLanePhotography/" style="margin-left: auto; padding-right: 10px;">
            <img src="{% static 'website/social-media-icons/facebook.png' %}" style="width: 29px; height: 29px;">
        </a>
        <a class="text-center" href="http://www.instagram.com/kaylalanephotography" style="margin-right: auto; padding-left: 10px;">
            <img src="{% static 'website/social-media-icons/instagram.png' %}" style="width: 29px; height: 29px;">
        </a>
    </div>
</nav>
<div class="body-font text-center">
    © 2018 Kayla Lane Photography
</div>