{% extends 'website/layout.html' %}

{% load static %}

{% block content %}
<div class="gallery">
     <h1 class="text-center padding">
         <a href="#" class="text-rain">
             Portraits
         </a>
    </h1>
    <div class="text-center row">
        <div class="image-half">
            <img class="col img-responsive border-right border-top-large" src="{% static 'website/photos/kayla.jpg' %}">
        </div>
        <div class="image-half">
            <img class="col img-responsive border-left border-top-large" src="{% static 'website/photos/kayla.jpg' %}">
        </div>
    </div>

    <img class="image-tile-full border-top-large border-bottom-large" src="{% static 'website/photos/car2.jpg' %}">
    <h1 class="text-center padding">
         <a href="#" class="text-rain">
             Pets
         </a>
    </h1>
    <div class="text-center row">
        <div class="image-half">
            <img class="col img-responsive border-right border-top-large" src="{% static 'website/photos/kayla.jpg' %}">
        </div>
        <div class="image-half">
            <img class="col img-responsive border-left border-top-large" src="{% static 'website/photos/kayla.jpg' %}">
        </div>
    </div>

    <img class="image-tile-full border-top-large border-bottom-large" src="{% static 'website/photos/car2.jpg' %}">
    <h1 class="text-center padding">
         <a href="#" class="text-rain">
             Automotive
         </a>
    </h1>
    <div class="text-center row">
        <div class="image-half">
            <img class="col img-responsive border-right border-top-large" src="{% static 'website/photos/kayla.jpg' %}">
        </div>
        <div class="image-half">
            <img class="col img-responsive border-left border-top-large" src="{% static 'website/photos/kayla.jpg' %}">
        </div>
    </div>

    <img class="image-tile-full border-top-large border-bottom-large" src="{% static 'website/photos/car2.jpg' %}">
    <h1 class="text-center padding">
         <a href="#" class="text-rain">
             Miscellaneous
         </a>
    </h1>
    <div class="text-center row">
        <div class="image-half">
            <img class="col img-responsive border-right border-top-large" src="{% static 'website/photos/kayla.jpg' %}">
        </div>
        <div class="image-half">
            <img class="col img-responsive border-left border-top-large" src="{% static 'website/photos/kayla.jpg' %}">
        </div>
    </div>
    <img class="image-tile-full border-top-large border-bottom-large" src="{% static 'website/photos/car2.jpg' %}">


</div>
{% endblock %}