{% extends 'website/layout.html' %}
{% load static %}

{% block content %}

{% if photos %}
    <!-- Hidden on Mobile Only -->
    <div class="d-none d-sm-block">
    {% for photo in photos %}
        {% if photo.block == 0 %}
            <div class="image-container hover border-bottom border-top">
                <a href="#">
                    <img class="image-tile-full" src="{{ photo.url }}">
                </a>
                <span class="image-text photo-font align-middle text-white text-center">
                     {{ photo.shoot_name }} ~ {{ photo.category }}
                    <br/>
                    <span class="h5">
                        {{ photo.shoot_date }}
                    </span>
                </span>
            </div>
        {% else %}
            {% if photo.block == 1 %}
                <div class="text-center row image-container hover no-margin">
            {% endif %}

            <div class="image-half border-top border-bottom border-right">
                <a href="#">
                    <img class="col img-responsive" src="{{ photo.url }}">
                </a>

                {% if photo.block == 1 %}
                    <span class="text-overlay-left photo-font-half align-middle text-center text-white">
                      {{ photo.shoot_name }} ~ {{ photo.category }}
                      <br/>
                      <span class="h5">
                          {{ photo.shoot_date }}
                      </span>
                    </span>
                {% elif photo.block == 2 %}
                    <span class="text-overlay-right photo-font-half align-middle text-center text-white">
                      {{ photo.shoot_name }} ~ {{ photo.category }}
                      <br/>
                      <span class="h5">
                          {{ photo.shoot_date }}
                      </span>
                    </span>
                {% endif %}

            </div>

            {% if photo.block == 2 %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>

    <!-- Visible on Mobile Only -->
    <div class="d-block d-sm-none">
    {% for photo in photos %}
        <div class="image-container hover border-bottom border-top">
            <a href="#">
                <img class="image-tile-full" src="{{ photo.url }}">
            </a>
            <span class="image-text photo-font align-middle text-white text-center">
                 {{ photo.shoot_name }} ~ {{ photo.category }}
                <br/>
                <span class="h5">
                    {{ photo.shoot_date }}
                </span>
            </span>
        </div>
    {% endfor %}
    </div>

{% endif %}

{% endblock %}