{% extends 'website/layout.html' %}
{% load static %}

{% block content %}
    {% if landscapes %}
        <div class="text-center">
            {% for photo in landscapes %}
                <div class="lightbox inactive">
                    <img class="lightbox-trigger landscape non-fullscreen" src="{% static ''%}{{ photo }}">
                </div>
            {% endfor %}
    {% endif %}
    {% if portraits %}
            {% for photo in portraits %}
                <div class="lightbox inactive">
                    <img class="lightbox-trigger portrait non-fullscreen" src="{% static ''%}{{ photo }}">
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}