{% extends 'website/layout.html' %}
{% load static %}
{% block content %}

<div class="about">
    <h1 class="text-center padding">
        The Face Behind the Lens
    </h1>

    <div class="text-center row">
        <div class="image-half">
            <img class="col img-responsive" src="{% static 'website/photos/kayla.jpg' %}">
        </div>

        <div class="image-half bg-creosote col text-white">
          <h1 class="padding center-quote">
              " The beauty from the first moment I captured was stunning. "
          </h1>
      </div>
    </div>

    <div class="bg-dew padding">
        <div class="text-center container">
            <p class="paragraph">
            It all started with a Nikon D3100 in 2010. The beauty from the first moment I captured was stunning. Photography became a hobby after that. Now, it's a passion. From sporadic nature shots to full on photo shoots, it's been a wonderful journey... all the way up to the Nikon D800! Each image takes the subject(s) to a completely different level. It brings so much joy to know that the emotions from that one second are immortalized through something so simple as a shutter. Click -- the memory lasts forever   ~ ♥ ~
            </p>
        </div>
    </div>
</div>
{% endblock %}