{% extends 'website/layout.html' %}
{% load static %}


{% block content %}

{% if photos %}
    <div>
    {% for photo in photos %}
        {% if photo.number == 0 %}
            <div class="image-container hover border-bottom border-top">
                <a href="#">
                    <img class="image-tile-full" src="{% static ''%}{{ photo.photo }}">
                </a>
                <span class="image-text photo-font align-middle text-white text-center">
                     {{ photo.name }} ~ {{ photo.category }}
                    <br/>
                    <span class="h5">
                        {{ photo.date }}
                    </span>
                </span>
            </div>
        {% else %}
            {% if photo.number == 1 %}
                <div class="text-center row image-container hover no-margin">
            {% endif %}

            <div class="image-half border-top border-bottom border-right">
                <a href="#">
                    <img class="col img-responsive" src="{% static '' %}{{ photo.photo }}">
                </a>

                {% if photo.number == 1 %}
                    <span class="text-overlay-left photo-font-half align-middle text-center text-white">
                      {{ photo.name }} ~ {{ photo.category }}
                      <br/>
                      <span class="h5">
                          {{ photo.date }}
                      </span>
                    </span>
                {% elif photo.number == 2 %}
                    <span class="text-overlay-right photo-font-half align-middle text-center text-white">
                      {{ photo.name }} ~ {{ photo.category }}
                      <br/>
                      <span class="h5">
                          {{ photo.date }}
                      </span>
                    </span>
                {% endif %}
                
            </div>

            {% if photo.number == 2 %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>

{% endif %}

{% endblock %}