{% load static %}
<nav class="navbar navbar-expand-lg navbar-light navbar-background">
  <a class="navbar-brand navbar-brand-font" href="{% url 'home' %}">
      Kayla Lane Photography
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="custom-toggler navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto body-font">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'aboutme' %}">
            About
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gallery' %}">
            Gallery
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'pricing' %}">
            Pricing
        </a>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">
            Contact
        </a>
      </li>
    </ul>
  </div>
</nav>