{% load static %}
{# The mobile/tablet styling: #}

<div class="d-lg-none">
            <img class="image-tile-full" src="{% static 'website/photos/car.jpg' %}">
            <img class="image-tile-half left-half" src="{% static 'website/photos/jetpuff.jpg' %}">
            <img class="image-tile-half right-half" src="{% static 'website/photos/cason.jpg' %}">
            <img class="image-tile-full" src="{% static 'website/photos/montstreet.jpg' %}">
            <img class="image-tile-half left-half" src="{% static 'website/photos/trees.jpg' %}">
            <img class="image-tile-half right-half" src="{% static 'website/photos/zapri.jpg' %}">
    </div>
</div>