:root {
    --dew: #90b2bb;
    --rain: #5b7d86;
    --currant: #45405e;
    --slate: #2a414f;
    --creosote: #2e323d;
}


/* BACKGROUND COLORS */

.bg-dew {
    background-color: var(--dew);
}

.bg-rain {
    background-color: var(--rain);
}

.bg-slate {
    background-color: var(--slate);
}

.bg-currant {
    background-color: var(--currant);
}

.bg-creosote {
    background-color: var(--creosote);
}

.bg-black {
    background-color: black;
}


/* TEXT COLORS */

.text-dew {
    color: var(--dew);
}

.text-rain {
    color: var(--rain);
}

.text-slate {
    color: var(--slate);
}

.text-currant {
    color: var(--currant);
}

.text-creosote {
    color: var(--creosote);
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

/* BORDERS */

@media (min-width: 992px) {
    .border-left {
       border-left: 1.5px solid white;
    }

    .border-right {
        border-right: 1.5px solid white;
    }

}

.border-bottom {
    border-bottom: 1.5px solid white;
}

.border-top {
    border-top: 1.5px solid white;
}

.border-top-large {
    border-top: 5px solid white;
}

.border-bottom-large {
    border-bottom: 5px solid white;
}

.page-border {
    border-right: 3px solid white;
    border-left: 3px solid white;
}

.border-full {
    border-bottom: 1.5px solid white;
    border-top: 1.5px solid white;
    border-right: 1.5px solid white;
    border-left: 1.5px solid white;
}

.border-dew {
    border-color: var(--dew);
}

.border-black {
    border-color: black;
}

/* PADDING */

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}