.image-tile-full {
    height: auto;
    max-width: 100%;
    transition: opacity 1s;
}

.image-tile-half {
    height: auto;
    max-width: 50%;
    float: left;
    transition: opacity 1s;
}


.image-container {
   position: relative;
   overflow: hidden;
   max-height: 90vh;
}

.image-text {
   position: absolute;
   top: 50%;
   left: 50%;
   transition: opacity 1s, visibility 1s;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
}

.image-text-visible {
   position: absolute;
   top: 5%;
   left: 25%;
   right: 25%;
}


.image-text-half {
   width: 50%;
   transition: opacity 1s, visibility 1s;
   transform: translate(-25%, -25%);
   -ms-transform: translate(-25%, -25%);
}

.text-overlay-left {
   position: absolute;
   top: 50%;
   left: 15%;
   max-width: 25%;
}

.text-overlay-right {
   position: absolute;
   top: 50%;
   left: 65%;
   max-width: 25%;
}

.fade-photo {
  opacity: .7;
}

.show-text {
  visibility: visible;
  opacity: 1;
}


@media (max-width: 767px) {
   .image-container {
       position: relative;
       overflow: hidden;
    }
}