{% extends 'website/layout.html' %}

{% load static %}

{% block content %}

<div class="auto">
    <div class="image-container border-bottom border-top">
        <a href="#">
            <img class="image-tile-full" src="{% static 'website/photos/car2.jpg' %}">
        </a>
        <span class="image-text photo-font align-middle text-white text-center">
            TEST HEADING 1
        </span>
    </div>

    <h1 class="text-center padding-top-20 padding-bottom-20"> Automobiles... </h1>
    <h4 class="text-center padding-bottom-20">
        They've changed they way we travel. We trust our lives to them. We often love them dearer than any other possession.
        Here, explore some of my best shoots with clients who couldn't see living a life without their car.
    </h4>

    <div class="text-center row no-margin">
        <div class="image-half border-right border-top border-bottom">
            <img class="col img-responsive" src="{% static 'website/photos/kayla.jpg' %}">
        </div>
        <div class="image-half border-left border-top border-bottom">
            <img class="col img-responsive" src="{% static 'website/photos/kayla.jpg' %}">
        </div>
    </div>
</div>

{% endblock %}