{% extends 'website/layout.html' %}

{% load static %}

{% block content %}

<div class="auto">
   <!-- <h1 class="text-center padding text-rain">
        Automotive
    </h1>-->

    <div class="image-container border-bottom border-top">
        <a href="#">
            <img class="image-tile-full" src="{% static 'website/photos/car2.jpg' %}">
        </a>
        <span class="image-text photo-font align-middle text-rain text-center">
            TEST HEADING 1
        </span>
        <!--<div class="" style="height:80vh; background: url({% static 'website/photos/car2.jpg' %}) no-repeat center center;"></div>-->
    </div>
    <!--<div class="image-container">
        <img class="image-tile-full border-bottom-large border-top-large" src="{% static 'website/photos/car2.jpg' %}">
    </div>-->


    <div class="text-center row no-margin">
        <div class="image-half border-right border-top border-bottom">
            <img class="col img-responsive" src="{% static 'website/photos/kayla.jpg' %}">
        </div>
        <div class="image-half border-left border-top border-bottom">
            <img class="col img-responsive" src="{% static 'website/photos/kayla.jpg' %}">
        </div>
    </div>
</div>

{% endblock %}